<div class="container-fluid">

    <div class="row">
        <div class="col-4 my-2">
           
            <nav class="navbar border border-secondary shadow rounded-top p-0 navbar-light style=" style="background-color: #adc8e6cb">
                <span class="navbar-text mb-0 my-0">
                    &nbsp;&nbsp;<i class="far fa-star"></i> <i>Meus</i> <b>Links Favoritos</b>
                </span>
            </nav>
                    
            <div class="container border border-secondary border-top-0 rounded-bottom" style="height: 380px;">

                <div class="row">
                    
                    <div class="col align-middle" align="center">
                        <img src="img/gestao.png" height="64" width="64">
                        <p style="font-size: 12px;">Plano de Ação 2019</p>
                    </div>

                    <div class="col align-middle" align="center">
                        <img src="img/gestao.png" height="64" width="64">
                        <p style="font-size: 12px;">Plano de Ação 2019</p>
                    </div>

                    <div class="col align-middle" align="center">
                        <img src="img/gestao.png" height="64" width="64">
                        <p style="font-size: 12px;">Plano de Ação 2019</p>
                    </div>

                    <div class="col align-middle" align="center">
                        <img src="img/gestao.png" height="64" width="64">
                        <p style="font-size: 12px;">Plano de Ação 2019</p>
                    </div>

                </div>

                <div class="row">
                    
                    <div class="col align-middle" align="center">
                        <img src="img/gestao.png" height="64" width="64">
                        <p style="font-size: 12px;">Plano de Ação 2019</p>
                    </div>

                    <div class="col align-middle" align="center">
                        <img src="img/gestao.png" height="64" width="64">
                        <p style="font-size: 12px;">Plano de Ação 2019</p>
                    </div>

                    <div class="col align-middle" align="center">
                        <img src="img/gestao.png" height="64" width="64">
                        <p style="font-size: 12px;">Plano de Ação 2019</p>
                    </div>

                    <div class="col align-middle" align="center">
                        <img src="img/gestao.png" height="64" width="64">
                        <p style="font-size: 12px;">Plano de Ação 2019</p>
                    </div>

                </div>

                <div class="row">
                    
                    <div class="col align-middle" align="center">
                        <img src="img/gestao.png" height="64" width="64">
                        <p style="font-size: 12px;">Plano de Ação 2019</p>
                    </div>

                    <div class="col align-middle" align="center">
                        <img src="img/gestao.png" height="64" width="64">
                        <p style="font-size: 12px;">Plano de Ação 2019</p>
                    </div>

                    <div class="col align-middle" align="center">
                        <img src="img/gestao.png" height="64" width="64">
                        <p style="font-size: 12px;">Plano de Ação 2019</p>
                    </div>

                    <div class="col align-middle" align="center">
                        <img src="img/gestao.png" height="64" width="64">
                        <p style="font-size: 12px;">Plano de Ação 2019</p>
                    </div>

                </div>

                <p class='text-center' style="font-size: 12px; color: #748396">Altere os seus links favoritos editando seu perfil.</p>
                
            </div> 


        </div>
        
        <div class="col-8">
            
            <!-- Cards informativos -->
            <div class="row">
                <div class="col bg-danger rounded text-light text-center my-2 ml-3">
                    <H1 class="display-4 mb-1"><b>250</b></H1>
                    <p style="font-size: 12px;"><b>PROCESSOS REPRESADOS</b></p>
                </div>
                <div class="col bg-success rounded text-light text-center my-2 ml-3 mr-3">
                    <H1 class="display-4 mb-1"><b>980</b></H1>
                    <p style="font-size: 12px;"><b>TAREFAS CONCLUÍDAS</b></p>
                </div>
                <div class="col bg-primary rounded text-light text-center my-2 mr-3">
                    <H1 class="display-4 mb-1"><b>146</b></H1>
                    <p style="font-size: 12px;"><b>TAREFAS PENDENTES</b></p>
                </div>
                <div class="col rounded text-light text-center my-2 mr-3" style="background: orange">
                        <H1 class="display-4 mb-1"><b>46</b></H1>
                        <p style="font-size: 12px;"><b>IMA-GDASS</b></p>
                    </div>
                <div class="col rounded text-light text-center my-2 mr-3" style="background: rgb(88, 88, 88)">
                    <H1 class="display-4 mb-1"><b>35%</b></H1>
                    <p style="font-size: 12px;"><b>ÍNDICE DE INDEFERIMENTO</b></p>
                </div>
                
            </div>
        
            <!-- Gráfico e Calendário -->    
            <div class="row">
                <div class="col-7">
                   <div class="border rounded border-secondary ml-3 my-2" style="height: 280px;"></div>
                </div>
                <div class="col">
                   <div class="border rounded border-secondary mx-3 my-2"style="height: 280px;"></div>
                </div>
            </div>
            
        </div>
    </div>

</div>