<div class="container-fluid">
<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header mx-2 my-2">
  <h3>
    Equipe
  </h3>
</section>

<!-- Main content -->
<section class="content mx-2 my-2">

  <div class="row">
  	<div class="col-12">
  		<div class="box box-primary">
            
            <div class="box-header">
              <a href="users-create" class="btn btn-success">Cadastrar Usuário</a>
            </div>

            <div class="box-body no-padding mx-2">
              <table class="table table-striped">
                <thead>
                  <tr>              
                    <th>Nome</th>
                    <th>Matrícula</th>
                    <th>E-mail</th>
                    <th>Telefone</th>                     
                    <th>CPF</th>
                    <th class="text-center">Opções</th>
                  </tr>
                </thead>
                <tbody>
                  {loop="$users"}
                  <tr>                    
                    <td>{$value.nome}</td>
                    <td>{$value.matricula}</td>
                    <td>{$value.email}</td>
                    <td>{$value.telefone}</td>
                    <td>{$value.cpf}</td>
                    <td class="text-center">
                      <a href="users/details/{$value.iduser}" class="text-link text-dark"><i class="fas fa-asterisk"></i> Detalhar </a>&nbsp;|&nbsp;
                      <a href="users/update/{$value.iduser}" class="text-link text-dark"><i class="fa fa-edit"></i> Editar </a>&nbsp;|&nbsp;
                      <a href="users/{$value.iduser}/delete" class="text-link text-dark" onclick="return confirm('Deseja realmente excluir este registro?')"><i class="fa fa-trash"></i> Excluir</a>
                    </td>
                  </tr>
                  {/loop}
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->
</div>