<div class="container-fluid">

    <div class="row">
        <div class="col-4 mt-2">
           <!-- Avisos -->
           <div class="card border-success mb-3 h-100">
                <div class="card-header bg-success text-light"> 
                    <i class="fas fa-star text-warning"></i> Links Favoritos
                </div>
                <div class="card-body text-dark p-1">                           
                    <div class="row">
                        <div class="col mt-2 align-middle" align="center">
                            <a href="{$fav.origem01}/{$fav.idFav01}" title="{$fav.desc01}"><h1 class="text-secondary"><i class="{$fav.icone01}"></i></h1></a>
                            <p style="font-size: 12px;">{$fav.fav01}</p>
                        </div>
    
                        <div class="col mt-2 align-middle" align="center">
                            <a href="{$fav.origem02}/{$fav.idFav02}" title="{$fav.desc02}"><h1 class="text-secondary"><i class="{$fav.icone02}"></i></h1></a>
                            <p style="font-size: 12px;">{$fav.fav02}</p>
                        </div>
    
                        <div class="col mt-2 align-middle" align="center">
                            <a href="{$fav.origem03}/{$fav.idFav03}" title="{$fav.desc03}"><h1 class="text-secondary"><i class="{$fav.icone03}"></i></h1></a>
                            <p style="font-size: 12px;">{$fav.fav03}</p>
                        </div>
    
                        <div class="col mt-2 align-middle" align="center">
                            <a href="{$fav.origem04}/{$fav.idFav04}" title="{$fav.desc04}"><h1 class="text-secondary"><i class="{$fav.icone04}"></i></h1></a>
                            <p style="font-size: 12px;">{$fav.fav04}</p>
                        </div>
    
                    </div>
    
                    <div class="row">
                        
                        <div class="col align-middle" align="center">
                            <a href="{$fav.origem05}/{$fav.idFav05}" title="{$fav.desc05}"><h1 class="text-secondary"><i class="{$fav.icone05}"></i></h1></a>
                            <p style="font-size: 12px;">{$fav.fav05}</p>
                        </div>
    
                        <div class="col align-middle" align="center">
                            <a href="{$fav.origem06}/{$fav.idFav06}" title="{$fav.desc06}"><h1 class="text-secondary"><i class="{$fav.icone06}"></i></h1></a>
                            <p style="font-size: 12px;">{$fav.fav06}</p>
                        </div>
    
                        <div class="col align-middle" align="center">
                            <a href="{$fav.origem07}/{$fav.idFav07}" title="{$fav.desc07}"><h1 class="text-secondary"><i class="{$fav.icone07}"></i></h1></a>
                            <p style="font-size: 12px;">{$fav.fav07}</p>
                        </div>
    
                        <div class="col align-middle" align="center">
                            <a href="{$fav.origem08}/{$fav.idFav08}" title="{$fav.desc08}"><h1 class="text-secondary"><i class="{$fav.icone08}"></i></h1></a>
                            <p style="font-size: 12px;">{$fav.fav08}</p>
                        </div>
    
                    </div>
    
                    <div class="row">
                        
                        <div class="col align-middle mb-0" align="center">
                            <a href="{$fav.origem09}/{$fav.idFav09}" title="{$fav.desc09}"><h1 class="text-secondary"><i class="{$fav.icone09}"></i></h1></a>
                            <p style="font-size: 12px;">{$fav.fav09}</p>
                        </div>
    
                        <div class="col align-middle mb-0" align="center">
                            <a href="{$fav.origem10}/{$fav.idFav10}" title="{$fav.desc10}"><h1 class="text-secondary"><i class="{$fav.icone10}"></i></h1></a>
                            <p style="font-size: 12px;">{$fav.fav10}</p>
                        </div>
    
                        <div class="col align-middle mb-0" align="center">
                            <a href="{$fav.origem11}/{$fav.idFav11}" title="{$fav.desc11}"><h1 class="text-secondary"><i class="{$fav.icone11}"></i></h1></a>
                            <p style="font-size: 12px;">{$fav.fav11}</p>
                        </div>
    
                        <div class="col align-middle mb-0" align="center">
                            <a href="{$fav.origem12}/{$fav.idFav12}" title="{$fav.desc12}"><h1 class="text-secondary"><i class="{$fav.icone12}"></i></h1></a>
                            <p style="font-size: 12px;">{$fav.fav12}</p>
                        </div>
    
                    </div>                        
                </div>
                
            </div>
        </div>
        
        <div class="col-8">
            
            <!-- Cards informativos -->
            <div class="row">
                
                <div class="col bg-danger rounded text-light text-center my-2 mr-2">
                    <div class="row">
                        <div class="col-8">
                            {loop="$represados.represadosAtual"}
                            <H1 class="display-5 mb-1"><b>{$value.indicador}</b> </H1>
                            {/loop}
                        </div>
                        <div class="col-4 mx-0 mt-2">
                            {loop="$represados.represadosAnt"}
                            <h3><a title="{function="converteData($value.data)"}: {$value.indicador}"><i class="{$represados.iconerepresados}"></i></a></h3>
                            {/loop}
                        </div>                    
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <hr class="my-1">
                            <p class="my-1" style="font-size: 12px;"><b><a title="Detalhar Indicador" href="represados" class="text-light">REPRESADOS</a></b></p>
                        </div>  
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <hr class="my-1">
                            <p class="my-1" style="font-size: 12px;"><i class="far fa-calendar-alt"></i> {loop="$represados.represadosAtual"}{function="converteData($value.data)"}{/loop} </p>
                        </div>  
                    </div>
                </div>
                
                <div class="col bg-success rounded text-light text-center my-2 mr-2">
                    <div class="row">
                        <div class="col-8">
                            {loop="$tarefas.tarefasAtual"}
                            <H1 class="display-5 mb-1"><b>{$value.concluidas}</b> </H1>
                            {/loop}
                        </div>
                        <div class="col-4 mx-0 mt-2">
                            {loop="$tarefas.tarefasAnt"}
                            <h3><a title="{function="converteComp($value.competencia)"}: {$value.concluidas}"><i class="{$tarefas.iconetarefasconcluidas}"></i></a></h3>
                            {/loop}
                        </div>                    
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <hr class="my-1">
                            <p class="my-1" style="font-size: 12px;"><b><a title="Detalhar Indicador" href="tarefas" class="text-light">TAREFAS CONCLUÍDAS</a></b></p>
                        </div>  
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <hr class="my-1">
                            <p class="my-1" style="font-size: 12px;"><i class="far fa-calendar-alt"></i> {loop="$tarefas.tarefasAtual"}{function="converteComp($value.competencia)"}{/loop}</p>
                        </div>  
                    </div>
                </div>

                <div class="col bg-primary rounded text-light text-center my-2 mr-2">
                    <div class="row">
                        <div class="col-8">
                            {loop="$tarefas.tarefasAtual"}
                            <H1 class="display-5 mb-1"><b>{$value.pendentes}</b> </H1>
                            {/loop}
                        </div>
                        <div class="col-4 mx-0 mt-2">
                            {loop="$tarefas.tarefasAnt"}
                            <h3><a title="{function="converteComp($value.competencia)"}: {$value.pendentes}"><i class="{$tarefas.iconetarefaspendentes}"></i></a></h3>
                            {/loop}
                        </div>                    
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <hr class="my-1">
                            <p class="my-1" style="font-size: 12px;"><a title="Detalhar Indicador" href="tarefas" class="text-light"><b>TAREFAS PENDENTES</b></a></p>
                        </div>  
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <hr class="my-1">
                            <p class="my-1" style="font-size: 12px;"><i class="far fa-calendar-alt"></i> {loop="$tarefas.tarefasAtual"}{function="converteComp($value.competencia)"}{/loop}</p>
                        </div>  
                    </div>
                </div>
                
                <div class="col rounded text-light text-center my-2 mr-2" style="background: orange">
                    <div class="row">
                        <div class="col-8">
                            {loop="$imaGdass.imaGdassAtual"}
                            <H1 class="display-5 mb-1"><b>{$value.indicador}</b></H1>
                            {/loop}
                        </div>
                        <div class="col-4 mx-0 mt-2">
                            {loop="$imaGdass.imaGdassAnt"}
                            <h3><a title="{function="converteComp($value.competencia)"}: {$value.indicador}"><i class="{$imaGdass.iconeImaGdass}"></i></a></h3>
                            {/loop}
                        </div>                    
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <hr class="my-1">
                            <p class="my-1" style="font-size: 12px;"><a title="Detalhar Indicador" href="imaGdass" class="text-light"><b>IMA-GDASS</b></a></p>
                        </div>  
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <hr class="my-1">
                            <p class="my-1" style="font-size: 12px;"><i class="far fa-calendar-alt"></i> {loop="$imaGdass.imaGdassAtual"}{function="converteComp($value.competencia)"}{/loop} </p>
                        </div>  
                    </div>
                </div>

                <div class="col rounded text-light text-center my-2 mr-2" style="background: rgb(88, 88, 88">
                    <div class="row">
                        <div class="col-8">
                            {loop="$iib.iibAtual"}
                            <H1 class="display-5 mb-1"><b>{$value.indicador}</b> </H1>
                            {/loop}
                        </div>
                        <div class="col-4 mx-0 mt-2">
                            {loop="$iib.iibAnt"}
                            <h3><a title="{function="converteComp($value.competencia)"}: {$value.indicador}"><i class="{$iib.iconeiib}"></i></a></h3>
                            {/loop}
                        </div>                    
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <hr class="my-1">
                            <p class="my-1" style="font-size: 12px;"><a title="Detalhar Indicador" href="iib" class="text-light"><b>INDEFERIMENTO</b></a></p>
                        </div>  
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <hr class="my-1">
                            <p class="my-1" style="font-size: 12px;"><i class="far fa-calendar-alt"></i> {loop="$iib.iibAtual"}{function="converteComp($value.competencia)"}{/loop} </p>
                        </div>  
                    </div>
                </div>
                
            </div>
        
            <!-- Mais Acessados e Gráficos -->    
            <div class="row mt-0">
                <div class="col-5 p-0">                   
                    <!-- Mais Acessados -->
                    <div class="card border-primary mb-3 h-100">
                        <div class="card-header bg-primary text-light"> 
                            <i class="fas fa-plus"></i> Mais Acessados
                        </div>
                        <div class="card-body text-dark">                           
                            {loop="$maisAcessados"}
                                <i class="{$value.icone} text-primary"></i>&nbsp;&nbsp;<a class="text-primary link" title="{$value.descricao}" href="{function="minusculas($value.origem)"}/{$value.id}">{$value.nome}</a>
                                <hr class="my-1 text-secondary">
                            {/loop}                            
                        </div>
                    </div>                    
                </div>
                <div class="col-7">
                    <!-- Avisos -->
                    <div class="card border-secondary mb-3 h-100">
                        <div class="card-header bg-secondary text-light"> 
                            <i class="fas fa-fw fa-bullhorn"></i> Quadro de Avisos
                        </div>
                        <div class="card-body text-dark">                           
                            {loop="$avisos.data"}
                            <strong>{$value.titulo}</strong>
                            <p>{$value.texto}</p>
                            <hr class="my-1 text-secondary">
                            <small class="text-muted"><i class="far fa-calendar-alt"></i> {function="converteData($value.data)"} <i class="fas fa-user"></i> {$value.autor} </small>
                            {/loop}                        
                        </div>
                        <div class="card-footer bg-muted border-secondary text-muted text-light p-0">
                            <nav class="navbar">
                                <ul class="pagination pagination-sm mb-0">
                                    
                                    {loop="$pages"}
                                    {if="$value.i == $value.page"}
                                    <li class="page-item active"><a class="page-link" href="{$value.link}">{$value.page}</a></li>
                                    {else}
                                        {if="$value.i >= 1 && $value.i <= $value.total"}
                                        <li class="page-item"><a class="page-link" href="{$value.link}">{$value.i}</a></li>
                                        {/if}
                                    {/if}                        
                                    {/loop}            
                                </ul>                                    
                            </nav>
                        </div>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>