<div class="container-fluid">

    <div class="row">
        <div class="col-4 my-2">
           
            <nav class="navbar border border-secondary shadow rounded-top p-0 navbar-light style=" style="background-color: #adc8e6cb">
                <span class="navbar-text mb-0 my-0">
                    &nbsp;&nbsp;<i class="far fa-star"></i> <i>Meus</i> <b>Links Favoritos</b>
                </span>
            </nav>
                    
            <div class="container border border-secondary border-top-0 rounded-bottom" style="height: 380px;">

                <div class="row">
                    <div class="col mt-2 align-middle" align="center">
                        <a href="{$fav.url01}" title="{$fav.desc01}"><img src="img/{$fav.icone01}" height="64" width="64" alt="{$fav.desc01}"></a>
                        <p style="font-size: 12px;">{$fav.fav01}</p>
                    </div>

                    <div class="col mt-2 align-middle" align="center">
                        <a href="{$fav.url02}" title="{$fav.desc02}"><img src="img/{$fav.icone02}" height="64" width="64" alt="{$fav.desc02}"></a>
                        <p style="font-size: 12px;">{$fav.fav02}</p>
                    </div>

                    <div class="col mt-2 align-middle" align="center">
                        <a href="{$fav.url03}" title="{$fav.desc03}"><img src="img/{$fav.icone03}" height="64" width="64" alt="{$fav.desc03}"></a>
                        <p style="font-size: 12px;">{$fav.fav03}</p>
                    </div>

                    <div class="col mt-2 align-middle" align="center">
                        <a href="{$fav.url04}" title="{$fav.desc04}"><img src="img/{$fav.icone04}" height="64" width="64" alt="{$fav.desc04}"></a>
                        <p style="font-size: 12px;">{$fav.fav04}</p>
                    </div>

                </div>

                <div class="row">
                    
                    <div class="col align-middle" align="center">
                        <a href="{$fav.url05}" title="{$fav.desc05}"><img src="img/{$fav.icone05}" height="64" width="64" alt="{$fav.desc05}"></a>
                        <p style="font-size: 12px;">{$fav.fav05}</p>
                    </div>

                    <div class="col align-middle" align="center">
                        <a href="{$fav.url06}" title="{$fav.desc06}"><img src="img/{$fav.icone06}" height="64" width="64" alt="{$fav.desc06}"></a>
                        <p style="font-size: 12px;">{$fav.fav06}</p>
                    </div>

                    <div class="col align-middle" align="center">
                        <a href="{$fav.url07}" title="{$fav.desc07}"><img src="img/{$fav.icone07}" height="64" width="64" alt="{$fav.desc07}"></a>
                        <p style="font-size: 12px;">{$fav.fav07}</p>
                    </div>

                    <div class="col align-middle" align="center">
                        <a href="{$fav.url08}" title="{$fav.desc08}"><img src="img/{$fav.icone08}" height="64" width="64" alt="{$fav.desc08}"></a>
                        <p style="font-size: 12px;">{$fav.fav08}</p>
                    </div>

                </div>

                <div class="row">
                    
                    <div class="col align-middle" align="center">
                        <a href="{$fav.url09}" title="{$fav.desc09}"><img src="img/{$fav.icone09}" height="64" width="64" alt="{$fav.desc09}"></a>
                        <p style="font-size: 12px;">{$fav.fav09}</p>
                    </div>

                    <div class="col align-middle" align="center">
                        <a href="{$fav.url10}" title="{$fav.desc10}"><img src="img/{$fav.icone10}" height="64" width="64" alt="{$fav.desc10}"></a>
                        <p style="font-size: 12px;">{$fav.fav10}</p>
                    </div>

                    <div class="col align-middle" align="center">
                        <a href="{$fav.url11}" title="{$fav.desc11}"><img src="img/{$fav.icone11}" height="64" width="64" alt="{$fav.desc11}"></a>
                        <p style="font-size: 12px;">{$fav.fav11}</p>
                    </div>

                    <div class="col align-middle" align="center">
                        <a href="{$fav.url12}" title="{$fav.desc12}"><img src="img/{$fav.icone12}" height="64" width="64" alt="{$fav.desc12}"></a>
                        <p style="font-size: 12px;">{$fav.fav12}</p>
                    </div>

                </div>

                <p class='text-center' style="font-size: 12px; color: #748396">Altere os seus links favoritos editando seu perfil.</p>
                
            </div> 


        </div>
        
        <div class="col-8">
            
            <!-- Cards informativos -->
            <div class="row">
                <div class="col bg-danger rounded text-light text-center my-2 mr-3">
                    <H1 class="display-5 mb-1"><b>250</b></H1>
                    <p style="font-size: 12px;"><b>REPRESADOS</b></p>
                </div>

                <div class="col bg-success rounded text-light text-center my-2 mr-3">
                    <div class="row">
                        <div class="col-8">
                            <H1 class="display-5 mb-1"><b>{$tarefasConcluidas}</b> </H1>
                        </div>
                        <div class="col-4 mx-0 mt-2">
                                <h3><a title="Resultado anterior {$tarefasConcluidasAnt}"><i class="{$iconeTarefasConcluidas}"></i></a></h3>
                        </div>                    
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <hr class="my-1">
                            <p style="font-size: 12px;"><b>TAREFAS CONCLUÍDAS</b></p>
                        </div>  
                    </div>
                </div>

                <div class="col bg-primary rounded text-light text-center my-2 mr-3">
                    <div class="row">
                        <div class="col-8">
                            <H1 class="display-5 mb-1"><b>{$tarefasPendentes}</b> </H1>
                        </div>
                        <div class="col-4 mx-0 mt-2">
                                <h3><a title="Resultado anterior {$tarefasPendentesAnt}"><i class="{$iconeTarefasPendentes}"></i></a></h3>
                        </div>                    
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <hr class="my-1">
                            <p style="font-size: 12px;"><b>TAREFAS PENDENTES</b></p>
                        </div>  
                    </div>
                </div>
                
                <div class="col rounded text-light text-center my-2 mr-3" style="background: orange">
                    <div class="row">
                        <div class="col-8">
                            <H1 class="display-5 mb-1"><b>{$imaGdass}</b> </H1>
                        </div>
                        <div class="col-4 mx-0 mt-2">
                                <h3><a title="Resultado anterior {$imaGdassAnt}"><i class="{$iconeImaGdass}"></i></a></h3>
                        </div>                    
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <hr class="my-1">
                            <p style="font-size: 12px;"><b>IMA-GDASS</b></p>
                        </div>  
                    </div>
                </div>

                <div class="col rounded text-light text-center my-2 mr-3" style="background: rgb(88, 88, 88">
                    <div class="row">
                        <div class="col-8">
                            <H1 class="display-5 mb-1"><b>{$iib}</b> </H1>
                        </div>
                        <div class="col-4 mx-0 mt-2">
                                <h3><a title="Resultado anterior {$iibAnt}"><i class="{$iconeiib}"></i></a></h3>
                        </div>                    
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <hr class="my-1">
                            <p style="font-size: 12px;"><b>INDEFERIMENTO</b></p>
                        </div>  
                    </div>
                </div>
                
            </div>
        
            <!-- Gráfico e Calendário -->    
            <div class="row mt-2">
                <div class="col-7">
                  
                    <div id="carouselGraph" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">
                            <li data-target="#carouselGraph" data-slide-to="0" class="ative"></li>
                            <li data-target="#carouselGraph" data-slide-to="1"></li>
                            <li data-target="#carouselGraph" data-slide-to="2"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                
                                <!-- BAR CHART -->
                                <div class="box box-success">
                                    <div class="box-header with-border">
                                        <h3 class="box-title">Bar Chart</h3>

                                        <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                                        </button>
                                        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                                        </div>
                                    </div>
                                    <div class="box-body">
                                        <div class="chart">
                                        <canvas id="barChart" style="height:230px"></canvas>
                                        </div>
                                    </div>
                                </div>

                                <div class="carousel-caption text-dark">
                                    <h4>Represamento</h4>
                                    <p>Última atualização em 10/12/2018</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="border rounded border-secondary mx-3 my-2"style="height: 280px;"></div>
                                <div class="carousel-caption text-dark">
                                    <h4>IMA-GDASS</h4>
                                    <p>Últimos 12 meses</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="border rounded border-secondary mx-3 my-2"style="height: 280px;"></div>
                                <div class="carousel-caption text-dark">
                                    <h4>Tarefas</h4>
                                    <p>Última atualização em 01/12/2018</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <a class="carousel-control-prev" href="#carouselGraph" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon"></span>
                        <span class="sr-only">Anterior</span>
                    </a>

                    <a class="carousel-control-next" href="#carouselGraph" role="button" data-slide="next">
                        <span class="carousel-control-next-icon"></span>
                        <span class="sr-only">Avançar</span>
                    </a>

                </div>
                <div class="col">
                   <div class="border rounded border-secondary mx-3 my-2"style="height: 280px;"></div>
                </div>
            </div>
            
        </div>
    </div>

</div>